LİST

In [ ]:
my_list=["joseph", "clarusway", 2022]

In [ ]:
new_list1=list(my_list)

In [ ]:
print(new_list1)

In [ ]:
numbers=[1,4,7]

In [ ]:
numbers.append(9)
numbers.append("yasin")
print(numbers)

In [ ]:
numberlar=[1,2,3,4,5,6]
numberlar.remove(4)
print(numberlar)

In [ ]:
new_num=numberlar.sort()
print(new_num)

In [ ]:
numberl=[1,2,3,4,5,6]
print(len(numberl))

DİCTİONARY

In [ ]:
mix_values={
    "anmal":('dog','cat'),
    22:"key",
    True:"boolean"
}
print(mix_values)

In [ ]:
mix_values.update({"yasin":"yağmur"})
print(mix_values)

In [ ]:
print(22 in mix_values)
print(22 not in mix_values)

TUPLE

In [ ]:
my_tuple=("solar")
print(my_tuple,type(my_tuple))

In [ ]:
solar = "yasin","betül"
print(solar,type(solar))

In [ ]:
even_no=(0,2,4,8,6,2,23)
print(even_no[0])
print(even_no[2])
print(even_no[3])
print(even_no[5])

SET