In [ ]:
print("hello world")

In [ ]:
a = 50
a= 60
print(a)

In [ ]:
a= "Ali"
b=" Veli"
c= "Henry"
print(type(a))
print(a,b,c,sep="\n",end="")

In [ ]:
num1= 5
num2 =5.18
num3= False
print(type(num1))
print(type(str(num2)))
print(type(str(num3)))

In [ ]:
num1 = "ali"
b = 34
b= 2.15
c= False

print(str(a))
print(int(num1))
print(float(a))
print(int(a))

In [ ]:
vegetable = "Patates"
print(vegetable[2:5]) # tat
print(vegetable[-2:]) # es
print(vegetable[-2:-5:-1]) # eta

In [ ]:
str_one = "upper"
print(*str_one) # u p p e r